In [2]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd

In [3]:
url="https://www.covid-19.pk/"
response=get(url)
response

In [4]:
html_soup=BeautifulSoup(response.text,"html.parser")

In [5]:
covid_pk=html_soup.find_all('div',class_='maincounter-number')
Total_case=covid_pk[0].span.text
Total_case=Total_case.strip()
Total_case

'4,971'

In [6]:
Recovered_case=covid_pk[1].span.text
Recovered_case=Recovered_case.strip()
Recovered_case

'763'

In [7]:
Death_case=covid_pk[2].span.text
Death_case=Death_case.strip()
Death_case

'80'

In [8]:
Today_covid_Pk=html_soup.find_all("div",id="maincounter-wrap")
Today_total_case=Today_covid_Pk[0].span.text
Today_total_case

'191 today'

In [9]:
Today_Recovered_case=Today_covid_Pk[1].span.text
Today_Recovered_case

'23 today'

In [10]:
Today_Death_case=Today_covid_Pk[2].span.text
Today_Death_case

'8 today'

In [11]:
Total=[]
for i in covid_pk:
    total=i.span.text
    total=total.strip()
    Total.append(total)

In [12]:
Total

['4,971', '763', '80']

In [13]:
Today=[]
for i in Today_covid_Pk:
    today=i.span.text
    today=today.strip()
    Today.append(today)

In [14]:
Today

['191 today', '23 today', '8 today']

In [15]:
first=html_soup.find_all("div",class_='col-md-12')

In [16]:
First_Name=first[0].td.text
First_Name

'Punjab'

In [17]:
First_Total=first[0].find_all('a',class_='btn btn-app p-2')

In [18]:
First_Total_Cases=First_Total[0].text.split()
First_Total_Case=First_Total_Cases[2]
First_Today_Case=First_Total_Cases[0]+First_Total_Cases[1]
print("Corona_Case:{} Today_Case:{}".format(First_Total_Case,First_Today_Case))

Corona_Case:2414 Today_Case:78today

In [19]:
First_Total_Recovereds=First_Total[1].text
First_Total_Recovereds=First_Total_Recovereds.split()
First_Total_Recovered=First_Total_Recovereds[2]
First_Today_Recovered=First_Total_Recovereds[0]+First_Total_Recovereds[1]
print("Recovered:{} Today_Caes:{}".format(First_Total_Recovered,First_Today_Recovered))

Recovered:39 Today_Caes:nochange

In [20]:
First_Total_Death=First_Total[2].text
First_Total_Death=First_Total_Death.split()
First_Total_Deaths=First_Total_Death[2]
First_Today_Deaths=First_Total_Death[0]+First_Total_Death[1]
print("Death:{} Today_Death:{}".format(First_Total_Deaths,First_Today_Deaths))

Death:21 Today_Death:2today

In [21]:
Name=[]
Today=[]
Total=[]

container=html_soup.find_all("tr")
container1=html_soup.find_all("td")
for containers in range(1,8):
    name=container[containers].td.text
    Name.append(name)
    
    total=container[containers].a.text
    total=total.split()
    today=total[0]+total[1]
    totals=total[2]
    Today.append(today)
    Total.append(totals)

In [22]:
Names=[]
for i in range(1,8):
    name=container[i].td.text
    Names.append(name)
Names

['Punjab',
 'Sindh',
 'Khyber Pakhtunkhwa',
 'Balochistan',
 'Gilgit Baltistan',
 'Federal Capital',
 'Azad Kashmir']

In [23]:
extract_contents = lambda row: [x.text.replace('\n', '') for x in row]
# find all table rows and data cells within
stats = [] 
all_rows = html_soup.find_all('tr')
for row in all_rows:
    stat = extract_contents(row.find_all('td')) 
    # notice that the data that we require is now a list of length 5
    stats.append(stat)
new_cols = [ "Name","Total","Recovered","Recovered%","Death","Death%"]
dat=pd.DataFrame(data=stats,columns=new_cols)
dat

,Name,Total,Recovered,Recovered%,Death,Death%
0,None,None,None,None,None,None
1,Punjab,78 today ...,no change ...,\t\t\t\t2%\t\t\t,2 today ...,\t\t\t\t \t\t 1%...
2,Sindh,104 today ...,no change ...,\t\t\t\t27%\t\t\t,6 today ...,\t\t\t\t \t\t 2%...
3,Khyber Pakhtunkhwa,no change ...,no change ...,\t\t\t\t20%\t\t\t,no change ...,\t\t\t\t \t\t 4%...
4,Balochistan,1 today ...,6 today ...,\t\t\t\t43%\t\t\t,no change ...,\t\t\t\t \t\t 1%...
5,Gilgit Baltistan,no change ...,14 today ...,\t\t\t\t58%\t\t\t,no change ...,\t\t\t\t \t\t 1%...
6,Federal Capital,7 today ...,3 today ...,\t\t\t\t11%\t\t\t,no change ...,\t\t\t\t \t\t 1%...
7,Azad Kashmir,1 today ...,no change ...,\t\t\t\t3%\t\t\t,-,\t\t\t\t\t\t\t\t\t-\t\t\t\t ...

In [24]:
data=pd.DataFrame({"NAME":Name,"TODAY":Today,"TOTAL":Total})

In [25]:
data

                 NAME     TODAY TOTAL
0              Punjab   78today  2414
1               Sindh  104today  1318
2  Khyber Pakhtunkhwa  nochange   656
3         Balochistan    1today   220
4    Gilgit Baltistan  nochange   215
5     Federal Capital    7today   114
6        Azad Kashmir    1today    34